.small {
    width:2.5rem;
    height:1.575rem;
}

.full {
    width: 45%;
    height:1.575rem;
}

label {
    font-family:'EB Garamond', sans-serif;
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-right: 0.75rem;
    font-size: 0.9rem;
}

div {
    margin-bottom: 0.1rem;
}